body {
  font-family: "lato", sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  position: absolute;
  margin-left: 0;
  margin-right: auto;
  bottom: 0px;
  width: 50%;
  height: 50%;

  li {
    border-radius: 1px;
    padding: 10px 15px;
    display: flex;
    align-self: flex-end;
    justify-content: left;
    margin-bottom: 10px;
    text-align: center;
  }
  .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .col-1 {
    flex-basis: 25%;
  }
  .col-2 {
    flex-basis: 15%;
  }
  .col-3 {
    flex-basis: 20%;
  }
  .col-4 {
    flex-basis: 20%;
  }
  .col-5 {
    flex-basis: 20%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: black;
    }
    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.pie-chart_1 {
  position: absolute;
  margin-left: 65%;
  margin-right: 50%;
  bottom: 0%;
  width: 50%;
  height: 35%;
}

.pie-chart_2 {
  position: absolute;
  margin-left: 65%;
  margin-right: 50%;
  bottom: 35%;
  width: 50%;
  height: 40%;
}
